@import './base.css';

.icon {
  display: inline-block;
  padding: 10px;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
  filter: var(--base-filter);
}

.icon--sm {
  background-size: 15px;
}
.icon--md {
  background-size: 20px;
}
.icon--lg {
  background-size: 25px;
}

.home-icon {
  background-image: url('../images/icon-home.svg');
}

.settigs-icon {
  background-image: url('../images/icon-settings.svg');
}

.arrow-icon {
  background-image: url('../images/icon-arrow-left.svg');
  transform: rotate(180deg);
  margin-left: auto;
}

.archive-icon {
  background-image: url('../images/icon-archive.svg');
}

.search-icon {
  background-image: url('../images/icon-search.svg');
}

.add-icon {
  background-image: url('../images/icon-plus.svg');
}

.clock-icon {
  background-image: url('../images/icon-clock.svg');
}

.tags-icon {
  background-image: url('../images/icon-tag.svg');
}

.delete-icon {
  background-image: url('../images/icon-delete.svg');
}

.sun-icon {
  background-image: url('../images/icon-sun.svg');
}

.font-icon {
  background-image: url('../images/icon-font.svg');
}

.lock-icon {
  background-image: url('../images/icon-lock.svg');
}

.logout-icon {
  background-image: url('../images/icon-logout.svg');
}

.show {
  display: block !important;
}

.hide {
  display: none;
}

.line-seperator {
  /* flex: 0 0 auto; */
  height: 1px;
  width: 100%;
  background-color: var(--muted);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  /* background: #e0e0e0; */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #88888821;
  border-radius: 4px;
  border: 2px solid transparent; /* space between thumb and track */
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
