@import './base.css';

.icon {
  color: var(--text);
}

textarea,
input {
  background: none;
  color: var(--text);
}

.show {
  display: block !important;
}

.hide {
  display: none;
}

.line-seperator {
  /* flex: 0 0 auto; */
  height: 1px;
  width: 100%;
  background-color: var(--muted);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  /* background: #e0e0e0; */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #88888821;
  border-radius: 4px;
  border: 2px solid transparent; /* space between thumb and track */
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.invert-icon {
  transform: rotate(180deg);
}
