@import './base.css';

aside {
  flex: 0 0 250px;
  padding: 1rem ;
  border-right: 1px solid var(--border);
}

.logo{
  padding-bottom: 1rem;
}

.aside-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem ;
  gap: 10px;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-bottom: 5px;

}

.active {
  background-color: var(--muted);
}

.active > .icon {
  filter: var(--primary-filter);
}

.notes-button-container {
  border-bottom: 1px solid var(--border);
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

}

header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 1px solid var(--border);
}

.main-container {
  display: flex;
  flex-direction: row;
  height: 100% ;
}

.nots-list-container {
  flex: 0 0 250px;
  height: 100%;
  border-right: 1px solid var(--border);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.note-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
}

.note-content{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex: 1 1 auto;
}

.note-options-sidebar {
  flex: 0 0 200px;
  padding: 1rem;
  border-left: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  gap: 8px;
}


header {
  display: flex;
  justify-content: space-between;
}

.header-title {
  font-size: 1.5rem;
}

.header-actions-container {
  display: flex;
  gap: 10px;
}

.search-container {
  width: 280px;
  display: flex;
  align-items: center;
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  gap: 10px;
  padding: 0 10px;
}

.search-container>input {
  flex: 1 1 auto;
  border: none;
  outline: none;
  background: none;
  height: 40px;
  color: var(--text);
}

.header-button {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.create-note-button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px ;
  font-size: 0.8rem;
  border-radius: 0.5rem;
  background-color: var(--primary);
  color: var(--primary-foreground);
  cursor: pointer;
}

.create-note-button i {
  filter: var(--on-primary-filter)
}

.no-notes-message {
  border-radius: 0.5rem;
  padding: 8px;
  font-size: 0.8rem;
  background-color: var(--muted);
  border: 1px solid var(--border);
}

.note-head {
  border-bottom: 1px solid var(--border);
  padding: 10px 0;
}

.note-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.note-tags-list {
  width: 100%;
  background: red;
}
.note-head-row {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 8px 0;
}

.note-head-row div {
  display: flex;
  align-items: center;
  min-width: 100px;
}

.note-body {
  flex: 1 1 auto;
  padding: 10px 0;
}

.note-option-button {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  padding: 8px 12px;
  cursor: pointer;
}

.notes {
  /* flex: 1 1 500px; */
  max-height: 450px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: auto;
}

.note-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
  border-bottom: 1px solid var(--border);
}


.note-item-title {
  font-size: 1.1rem;
  font-weight: 600;
}

.note-item-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tag-item {
  background: var(--muted);
  color: var(--muted-foreground);
  padding: 5px 8px;
  border-radius: 0.5rem;
  font-size: 0.8rem;
}

.note-item-last-edit {
  color: var(--muted-foreground);
}

.dropdown-settings-container{
  position: relative;
}

.dropdown-settings {
  display: none;
  background: var(--background);
  box-shadow: var(--shadow);
  position: absolute;
  width: 200px;
  right: 0;
  top: 100%;
  border-radius: 0.5rem;
  padding: 10px 5px;
  z-index: 100;
}

.dropdown-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  padding: 8px 0;
  border-radius: 0.5rem;
}

.dropdown-button:hover {
  background-color: var(--muted);
}

.note-input {
  border: none;
  outline: none;
  background-color: none;
  width: 100%;
  flex: 1 1 auto;
}

.title-input{
  font-size: 2rem;
  font-weight: bold;
}

.note-contnet-texterea {
  height:  100%;
}

.btn--primary{
  background-color: var(--primary);
  color: var(--primary-foreground);
}
